apiVersion: v1
kind: ConfigMap
metadata:
  name: online-shop-ui-files
  namespace: default
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head>
      <title>My App</title>
    </head>
    <body>
      <h1>Hello WORLD</h1>
    </body>
    </html>
